# Core
numpy>=1.26,<3
pillow>=10
pyyaml>=6

# Vision / utils
opencv-python>=4.9

# Training + logging
tensorboard>=2.16
absl-py>=2.1
protobuf>=4.25,<6
werkzeug>=3.0
requests>=2.31

# PyTorch (elige UNA opción según tu máquina)
torch>=2.2
torchvision>=0.17

# Linear probing / eval
scikit-learn>=1.4
tqdm>=4.66
